<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile18team.coookbab">

    <uses-permission android:name="android.hardware.sensor.proximity" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="쿸밥"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mobile18team.coookbab.Splashscreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mobile18team.coookbab.LoginActivity" />
        <activity android:name="com.mobile18team.coookbab.Timer" />
        <activity android:name="com.mobile18team.coookbab.RecipeIngredient" />
        <activity android:name="com.mobile18team.coookbab.CookActivity" />
        <activity android:name="com.mobile18team.coookbab.IngredientDetail" />
        <activity android:name="com.mobile18team.coookbab.AddIngredient" />
        <activity android:name="com.mobile18team.coookbab.RecipeActivity" />
        <activity android:name="com.mobile18team.coookbab.MyRecipeMain" />
        <activity android:name="com.mobile18team.coookbab.RecipeMain" />
        <activity android:name="com.mobile18team.coookbab.MainActivity" />
        <activity android:name="com.mobile18team.coookbab.RefrigeratorMain" />
        <activity android:name="com.mobile18team.coookbab.FirstAuthActivity">

        </activity>

        <receiver android:name="com.mobile18team.coookbab.Alarm">
            <intent-filter>
                <action android:name="com.example.coookbab.TEST" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/sss" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>